.contents {
  display: flex;
}

@media screen and (max-width: 736px) {
  .contents {
    justify-content: center;
  }
}

.background.half {
  background: #ffa153;
  opacity: 50%;
  background-size: cover;
  background-attachment: fixed, fixed;
  background-position: top left, bottom center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}

@media screen and (max-width: 736px) {
  .background.half {
    display: none;
  }
}

.login {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fields.loginbox {
  display: flex;
  flex-direction: column;
  width: calc(100vh / 2);
}
